.imc{
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.calculadora{
    margin-top: 10%;
    margin-left: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 15px 15px 8px;
    backdrop-filter: blur(7px);
    border-radius: 20px;
}