<div class="card-group">
    <div class="card">
      <img class="card-img-top" data-src="holder.js/100px180/" src="../../assets/ejercicio1.jpg" data-holder-rendered="true" style="height: 100%; width: 100%; display: block;">
      <div class="card-body">
        <h5 class="card-title">Tipo 1</h5>
        <p class="card-text">Texto.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" data-src="holder.js/100px180/"  src="../../assets/ejercicio2.jpg" data-holder-rendered="true" style="height: 100%; width: 100%; display: block;">
      <div class="card-body">
        <h5 class="card-title">Tipo 2</h5>
        <p class="card-text">Texto.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" data-src="holder.js/100px180/"  src="../../assets/ejercicio3.jpg" data-holder-rendered="true" style="height: 100%; width: 100%; display: block;">
      <div class="card-body">
        <h5 class="card-title">Tipo 3</h5>
        <p class="card-text">Texto.</p>
      </div>
    </div>
</div>